@import "../abstracts/variable.scss";

.breadcrumb-wrapper {
  width: 100%;
  background: url("/assets/breadcrumb.jpeg") no-repeat center center;
  position: relative;
  background-color: rgba($primary, .15);
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
  }
  .breadcrumb-container {
    position: relative;
    z-index: 1;
    color: white;
  }
}
