@import "../abstracts/variable.scss";
::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background: $light-primary;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background: darken($primary, 5%);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: darken($primary, 8%);
}