@import "./variable";

$line-height-base: 1.6; // NOT 1.6rem
$font-size-base: 0.875rem; // or 14px

// Badge variables
$badge-border-radius: 4px;
$badge-padding-x: 0.5em;
$badge-padding-y: 0.4em;
$badge-font-weight: 400;
$badge-font-size: 0.85rem;

// Alert variables
$alert-border-radius: 4px;
$alert-padding-x: 0.4em;
$alert-padding-y: 0.2em;
$alert-font-weight: 400;
$alert-font-size: 0.95rem;

// Button variables
$btn-border-radius: 6px;
$btn-padding-x: 1.2em;
$btn-padding-y: 0.4em;

// Nav Links
$nav-link-padding-y: 0.2rem;
$nav-link-padding-x: 1rem;

// Pagination
$pagination-border-radius: 6px;
$pagination-padding-x: 0.8rem;
$pagination-padding-y: 0.4rem;

// modal
$modal-lg: 600px;

// Accordion
$accordion-border-radius: 6px;
$accordion-padding: 0.4rem;
$accordion-margin-bottom: 1rem;
$accordion-btn-bg: $primary;
$accordion-btn-padding-y: 0.4rem;
$accordion-btn-padding-x: 0.25rem;
$accordion-inner-border-radius: 0;

$breadcrumb-divider-color: $grey;

// Theme colors map
$theme-colors: (
  "primary": $primary,
  "info": $info,
  "warning": $warning,
  "success": $success,
  "danger": $danger,
  "transparent": $transparent,
  "dark": $dark,
  "muted": $muted,
  "grey": $grey,
  "light-primary": $light-primary,
  "light-success": $light-success,
  "light-info": $light-info,
  "light-warning": $light-warning,
  "light-danger": $light-danger,
);
