$primary: #003E47;
$light: #f5f5f5;
$success: #008043;
$info: #1a7eff;
$warning: #bf6a02;
$danger: #ec221f;
$dark: #111111;
$muted: #666666;
$transparent: transparent;
$grey: #cccccc;
$text: #333333;
$white: #ffffff;
$light-primary: #f3f0ff;
$light-success: #ebffee;
$light-info: #edf5ff;
$light-warning: #fffbeb;
$light-danger: #fee9e7;
